# Node.js related
.config/npm/
node_modules/

# Vercel CLI config
.local/share/com.vercel.cli/
.vercel/

# Python related
*.pyc
__pycache__/
.pythonlibs/
.upm/

# Replit specific
.replit
replit.nix
.cache/

# Ignore ZIP or error logs
*.log
*.zip
